body {
    background-image: url(../images/bg.jpg)

}

img {
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: aqua;
}

img:hover {
    outline: 3px solid red;
    outline-offset: -10px;
}


.winlose {
    max-width: 100px;
    background-color: crimson;
    padding: 10px;
}

.background {
    background-color: crimson;
    max-width: 980px;
}